<nav-link class="navbar-light single"></nav-link>
<div class="row">
  	<div class="col-md-12 col-sm-12 text-center">
		<div class="card">
			<img src={{movie.image}} class="card-img-top" alt="movie poster">
			<div class="card-body">
				<p class="card-text title">Title: {{movie.title}}</p>
				<p class="card-text">Year: {{movie.year}}</p>
				<p class="card-text">Rating: {{movie.rating}}</p>
				<p class="card-text">Release date: {{movie.release_date}}</p>
				<p class="card-text">Runtime: {{movie.runtime}}</p>
				<p class="card-text">Genre: {{movie.genre}}</p>
				<p class="card-text">Director: {{movie.director}}</p>
				<p class="card-text">Writer: {{movie.writer}}</p>
				<p class="card-text">Actors: {{movie.actors}}</p>
				<p class="card-text">Plot: {{movie.plot}}</p>
				<p class="card-text">Language: {{movie.language}}</p>
				<p class="card-text">Country: {{movie.country}}</p>
			</div>
		</div>
	</div>
</div>