<div class="row">
  	<div class="col-md-12 col-sm-12 text-center">
		<div class="card">
			<img src={{movie.image}} class="card-img-top" alt="movie poster">
			<div class="card-body">
				<p class="card-text title">{{movie.title}}</p>
				<p class="card-text">{{movie.year}}</p>
				<p class="card-text">{{movie.rating}}</p>
				<p class="card-text">{{movie.release_date}}</p>
				<p class="card-text">{{movie.runtime}}</p>
				<p class="card-text">{{movie.genre}}</p>
				<p class="card-text">{{movie.director}}</p>
				<p class="card-text">{{movie.writer}}</p>
				<p class="card-text">{{movie.actors}}</p>
				<p class="card-text">{{movie.plot}}</p>
				<p class="card-text">{{movie.language}}</p>
				<p class="card-text">{{movie.country}}</p>
			</div>
		</div>
	</div>
</div>